/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    /* max-width: 1200px; */
    font-family: 'Lato', sans-serif;
    color:#333;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-cart:hover{
    cursor: pointer;
}
img{
    max-width: 100%;
}
/* Header */

/* header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    border-bottom: 1px solid transparent;
    
    
    
    
    
} */
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}
header h1{
    font-size: 20px;
}
.container-nav{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    max-width: 1400px;
    margin: auto;
    
}
nav .container-nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
nav .container-links-nav{
    display: flex;
    align-items: center;
    justify-content: right;
    
    
    
    
}
nav .container-links-nav a{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition:  0.5s;
    font-size: 17px;
    
}
nav .logo{
    /* margin-right: 5rem; */
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
}
nav .logo img{
    height: 100%;
    vertical-align: top;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding-bottom: 10px;
    
}
nav .logo h1{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 20px;
}
.container-links-nav a:hover{
    color:#28a745;
    
}
.container-icon{
    position: relative;

}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
#contador-productos{
    font-size: 12px;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.20);

}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;

}
.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.icon-close{
    width: 25px;
    height: 25px;
}
.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}


/* Main */
#seccion-productos{
    margin-top: 100px;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item{
    border-radius: 10px;
    
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.item:hover img {
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price{
    font-size: 18px;
    font-weight: 900;
}
.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.5s;
}
.info-product button:hover{
    background-color: #28a745;
    color: #000;
    font-family: 'Lato', sans-serif;
}
.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
